


@media screen and (max-width: 767px) {


  .customize-top-ii {
    top: -45px;
  }
  .customize-top-container {
    top: -45px;
  }
    .footer-bottom {
        text-align: center;
    }
  .MuiDialog-paper {
    border-radius: 0!important;

    overflow-y: auto;
  }
  .special-modal {
    width: auto;
  }

    #features {
        padding-top: 100px;
        padding-bottom: 70px; }
    .section-title {
        font-size: 30px;
    }
    .checkout-btn {
        padding: 15px 55px;
        font-size: 22px;

    }
    #hero-content {
        padding-top: 120px;
        /*padding-bottom: 10px;*/
    }
    .hero-title {
        font-size: 34px;
        line-height: 40px;
    }
    .intro-btn > a {
        margin: 20px 10px; }
    .no-padding {
        padding-left: 15px;
        padding-right: 15px; }
    #steps {
        padding-top: 70px;
        padding-bottom: 70px; }

   /* .filter-strip {
        justify-content: inherit;
    }*/


}

@media screen and (max-width: 1024px) {
  .customize-top-ii {
    top: -40px;
  }
  .customize-top-container {
    top: -40px;
  }
}


@media screen and (min-width: 1024px) {

  /*.MuiDrawer-action-selected {
    top: auto!important;
  }*/
  .customize-top-ii {
    top: -20px;
  }
  .customize-top-container {
    top: -20px;
  }
  .MuiDialog-paper {
    border-radius: 10px!important;
    overflow-y: hidden;
  }
  .special-modal {
    width: 650px!important;
  }
    /*.filter-strip {
        justify-content: center;
    }*/
    .checkout-btn {
        padding: 18px 85px;
        font-size: 32px;

    }

    .checkout-btn-div {
        margin-left: -30px!important;
    }



}

@media screen and (max-width: 320px) {



    #contact-us {
        display: none;
    }
}
@media screen and (min-width: 320px) {

/*
  .customize-top-ii {
    top: 20%;
  }
  .customize-top-container {
    top: 20%;
  }*/
}



@media screen and (max-width: 991px) {
  .customize-top-ii {
    top: -35%;
  }
  .customize-top-container {
    top: -35%;
  }
    .navbar-header {
        float: none; }
    .navbar-toggle {
        display: block; }
    .navbar-collapse.collapse {
        display: none !important; }
    .navbar-collapse.collapse.in {
        display: block !important; }
    .nav.navbar-nav.pull-right {
        float: none !important;
        padding-left: 15px; }
    .nav.navbar-nav > li {
        float: none; }
    .navbar-toggle {
        background: #fc17f3; }
    .navbar-toggle .icon-bar {
        background: #fff; }
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: 500px; }
    #main-nav {
        background: #fff;
        color: #000; }
    .logo-default {
        opacity: 0; }
    .logo-dark {
        opacity: 1; }

    .checkout-btn {
        padding: 15px 30px;
      font-size: 27px;

    }
    /*.filter-strip {
        justify-content: inherit;
    }*/


}
