<header id="intro-hero">

  <nav id="main-nav" class="navbar navbar-expand-lg navbar-light fixed-top padding-header is-scrolling d-block">
    <div class="container"> <div class="float-left">
      <a class="navbar-brand" href="index.html">
        <img src="assets/img/logo/pastyphotos_logo.svg" style="width: 190px">
      </a>
    </div>


      <div class="float-right" id="contact-us">
        <a class="btn-color text-uppercase" href="mailto:admin@pastyphotos.com"><span>Contact Us</span></a></div>

    </div>
  </nav>

</header> <!-- END header-->


