
<app-header></app-header>

<section id="features">
  <div class="">
    <div class="container-fluid" >
      <div class="container mb-3">
        <div class="row">
          <div class="col-2">
            <a href="javascript:void(0)" (click)="goBack();"><img src="assets/img/logo/backicon.png" width="20"></a>
          </div>
          <div class="col-8">
            <div class="">
              <div class="frame-styles">
                Frame styles
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom-comp">
        <!--<div class="text-center frame-styles" style="margin-bottom: 40px!important;">Frame styles</div>-->

        <div class="filter-strip">
          <div class="filter-button"><img class="filter-image" src="assets/img/classicIcon.svg"><div class="filter-name">Classic</div></div>

          <div class="filter-button"><img class="filter-image" src="assets/img/everIcon.svg"><div class="filter-name">Antique</div></div>

          <div class="filter-button"><img class="filter-image" src="assets/img/boldIcon.svg"><div class="filter-name">Bold</div></div>

          <div class="filter-button selected">
            <img class="filter-image" src="assets/img/cleanIcon.svg">
            <div class="filter-name">Clean</div></div>
        </div>
      </div>

      <div class="container mr-5 ">
        <div class="mt-5">

          <!--mx-md-5 mx-sm-2-->
          <div class="selected-width  bg-white upload-holder" >

            <div class="" style="padding-top: 58px;">
              <div class="text-center">
                <div  style="width: 240px;display: inline-block;">
                  <div class="upload-box-text">
                    upload at least 3 photos from your device
                  </div>
                </div>
              </div>






              <div class="text-center" style="padding-top: 30px;">
                <div class="SquareUploadButton right-side">
                  <div class="plus-icon">
                    <svg viewBox="0 0 37.76 38.93">
                      <path class="plus-shape" d="M21.22,0V17.2H37.76v4.39H21.22V38.93H16.54V21.59H0V17.2H16.54V0Z"></path>
                    </svg>
                  </div>
                  <img src="assets/img/Upload%20icon@3x.png" class="upload-icon">

                </div>

              </div>








            </div>


          </div>


        </div>

        <div class="mt-5 text-center" >
          <div class="checkout-btn-div" style="display: inline-block;">
                      <span>
                          <!--//disabled-->
                          <button class="checkout-btn" disabled><span>checkout</span></button>
                      </span>
          </div>
        </div>

      </div>






    </div>

  </div> <!-- END container-->
</section> <!-- END steps-->


